<h1>Galpoes</h1>
<%= flash['alert'] %>

<% if @warehouses.empty? %>
  <div class="info">Nenhum galpao disponivel</div>
<% end %>

<% @warehouses.each do |w| %>
  <%= w["name"] %>
  <%= w["code"] %>
<% end %>